.kanban-container {
	display: flex;
	gap: 35px;
	overflow-x: auto;
	padding: 5px;
}

.kanban-column {
	background-color: #f9f9f9;
	border-radius: 8px;
	padding: 12px;
	margin: 0 8px;
	flex: 1;
	min-width: 250px;
	max-height: 560px; /* 🔽 Altura máxima deseada */
	display: flex;
	flex-direction: column;
	overflow-y: auto; /* 🔽 Scroll vertical cuando se excede la altura */
}

.kanban-column-title {
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 1px 0;
	color: #444;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.kanban-column-title .kanban-column-title-text {
	flex-grow: 1;
	text-align: center;
}

.kanban-column:hover {
	background-color: #dcdcdc;
}

.kanban-group {
	margin-bottom: 20px;
}

.kanban-group-date {
	background-color: #ddd;
	padding: 5px 10px;
	border-radius: 4px;
	font-weight: bold;
}

.kanban-card {
	background-color: #fff;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	cursor: grab;
	transition: transform 0.3s ease; /* Transición para suavizar el movimiento */
}

.kanban-card.dragging {
	opacity: 0.6;
	transform: scale(1.05);
	cursor: grabbing; /* Ampliación para hacerla más visible al arrastrar */
}

.kanban-card:hover {
	transform: scale(1.03);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.kanban-card-move {
	animation: moveAnimation 0.5s ease-out;
}

@keyframes moveAnimation {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(
			20px
		); /* Mueve un poco la tarjeta durante el arrastre */
	}
}

.kanban-card-folio {
	font-size: 0.77rem;
	color: #2d3436;
	margin-bottom: 4px;
}

.kanban-card-service {
	font-weight: bold;
	margin-bottom: 6px;
	font-size: 0.77rem;
}

.kanban-card-service.renta {
	color: #e74c3c; /* rojo */
}

.kanban-card-service.venta {
	color: #3498db; /* azul */
}

.kanban-card-date {
	font-size: 0.77rem;
	color: #636e72;
}

.empty-column-message {
	color: #777;
	font-size: 0.9rem;
	text-align: center;
	font-style: italic;
	margin-top: 1rem;
}
