@font-face{
    font-family: "Montserrat";
    src: url('./utils/fonts/Montserrat-VariableFont_wght.ttf') format('truetype')
}

@font-face {
    font-family: 'Inter';
    src: url('./utils/fonts/Inter-VariableFont_slnt,wght.ttf')
    format('truetype');
    font-weight: 1 1000;
}
